<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-easylogger" version="0.0.1"
 xmlns="http://apache.org/cordova/ns/plugins/1.0" 
xmlns:android="http://schemas.android.com/apk/res/android"><name>easyLogger</name><js-module name="easyLogger" 
src="www/easyLogger.js"><clobbers target="cordova.plugins.easyLogger" />
</js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml">
<feature name="easyLogger"><param name="android-package" value="org.apache.cordova.easylogger.EasyLogger" />

</feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/EasyLogger.java" target-dir="src/org/apache/cordova/easylogger/" /></platform></plugin>